accessible-pygments==0.0.5
alabaster==0.7.16
anyio==4.3.0
Babel==2.15.0
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
docutils==0.20.1
h11==0.14.0
idna==3.7
imagesize==1.4.1
Jinja2==3.1.4
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdit-py-plugins==0.4.0
mdurl==0.1.2
myst-parser==3.0.1
packaging==24.0
pydata-sphinx-theme==0.15.2
Pygments==2.18.0
PyYAML==6.0.1
requests==2.31.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-autobuild==2024.4.16
sphinx-book-theme==1.1.2
sphinx-rtd-size==0.2.0
sphinx-rtd-theme==2.0.0
sphinx_design==0.5.0
sphinxawesome-theme @ git+https://github.com/kai687/sphinxawesome-theme.git@4e88dfd754d1546fbdc6a9d8394b3d4199349f4a
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-contentui==0.2.5
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
starlette==0.37.2
typing_extensions==4.11.0
urllib3==2.2.1
uvicorn==0.29.0
watchfiles==0.21.0
websockets==12.0
